body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Lora', serif;
}

.container-fluid, #dataTable {
    color: white;
}

.navbar-inverse, .jumbotron {
    background-color: rgba(34, 34, 34, 0.9);
}

legend {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.navbar-brand, .navbar-nav>li>a {
    color: white !important;
}

.modal-content {
    color: rgb(34, 34, 34);
}

.error {
    color: red !important;
}

tr:hover {
    cursor: pointer;
}